<div class="content">
		<div class="nav">
                        <ul class=nav >
                        <li class=back>
				<a href= "/index.html" ><img src="/img/indietro.png" width="100" height="60" alt="" />
</a></li>
			</ul>
                </div>
			<div class="foto">
                                        <div id="gallery">
                                            <ul> 
                                                $elencoimmagini$
                                            </ul>
			</div>
		</div>
